.best {
  overflow: hidden;
  &__main {
    position: relative;
    @include fit('padding-top', 100, 50, 1);
    @include fit('padding-bottom', 100, 50, 1);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(52);
    @include fit('margin-bottom', 59, 30, 1);
  }
  &__slider-item {
    text-align: center;
    user-select: none;
  }
  &__arrow {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    transform: translate(0, rem(25));

    & span::before {
      color: #666666;
      transition: .3s ease;
    }

    &_prev {
      left: rem(-76);
      & span {
        transform: scale(-1);
      }
    }
    &_next {
      right: rem(-76);
    }
    &:hover {
      & span::before {
        color: $blue;
      }
    }
    @include mq(rem(1330)) {
      width: rem(30);
      height: rem(30);
      font-size: rem(10);
      &_prev {
        opacity: .3;
        left: rem(0);
      }
      &_next {
        opacity: .3;
        right: rem(0);
      }
    }
  }
}

.header-best {
  &__select {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    @include fit('width', 250, 120, 1);
    border: 1.5px solid #CCCCCC;
    border-radius: rem(7);
    padding: 0 rem(7) 0 rem(15);
  }
  &__select-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(18);
    background-color: transparent;
    & span:last-child {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(35);
      height: rem(35);
      border-radius: 50%;
      background-color: $blue;

      &::before {
        position: absolute;
        content: '';
        @include arrow(down, #fff, 2px, 3px);
        transform: rotate(45deg) translate(-1px, -1px);
        transition: .3s ease;
      }
    }
    &.active + .header-best__select-list {
      visibility: inherit;
      pointer-events: auto;
      padding: rem(15);
      height: rem(125);
    }
    &.active span:last-child::before {
      transform: rotate(-135deg) translate(-1px, -1px);
    }
  }
  &__select-list {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    left: 0;
    top: 110%;
    border: 1.5px solid #CCCCCC;
    background-color: #fff;
    border-radius: rem(7);
    visibility: hidden;
    pointer-events: none;
    transition: .4s ease;
  }
  &__select-item {
    cursor: pointer;
    font-size: rem(14);
    line-height: rem(24);
    transition: .3s ease;
    &:hover {
      color: rgb(141, 141, 141);
    }
  }
}

.item-best {
  &__top {
    border: 2px solid $blue;
    margin: 0 auto;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    overflow: hidden;
    & img {
      border-radius: 50%;
    }
  }
  &__body {
    background-color: #F3F4F5;
    border-radius: rem(15) rem(15) 0 0;
    padding: rem(55) 0 rem(15) 0;
    margin: -40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }
  &__bottom {
    background-color: #F3F4F5;
    border-radius: 0 0 rem(15) rem(15);
    position: relative;
    padding: rem(20) 0 rem(30) 0;
    &::before {
      position: absolute;
      content: '';
      @include precent('width', 230, 270);
      height: 1px;
      left: 50%;
      top: 0;
      transform: translate(-50%);
      background-color: #DDDDDD;
    }
  }
  &__body-name {
    font-size: rem(18);
    line-height: rem(23);
    color: #000;
  }
  &__body-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(15);
  }
  &__body-link1 {
    font-weight: 500;
    font-size: rem(13);
    line-height: rem(17);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(60);
    height: rem(30);
    gap: rem(7);
    background: $blue;
    border-radius: rem(26);
    color: #fff;

    & span:first-child {
      font-size: rem(12);
    }
  }
  &__body-link2, &__body-link3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: rem(30);
    height: rem(30);
    background: rgba(55, 114, 255, 0.2);
  }
  &__body-number {
    font-size: rem(13);
    line-height: rem(17);
  }

  &__bottom-btn {
    margin: 0 auto;
    width: rem(80);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    color: #fff;
    background: #9757D7;
    border-radius: rem(7);
    transition: .3s ease;
    & span:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(13);
      height: rem(13);
      border-radius: rem(3);
      font-weight: 300;
      border: 1px solid #FFFFFF;
    }
    & span:last-child {
      font-size: rem(16);
      line-height: rem(21);
    }
    @include pc {
      &:hover {
        background: #7f2bd3;
      }
    }
  }
}
