.explore {
  &__main {
    @include fit('padding-top', 89, 50, 1);
    @include fit('padding-bottom', 100, 0, 1);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fit('margin-bottom', 57, 30, 1);
  }
}

.header-explore {
  &__arrows {
    display: flex;
    align-items: center;
    gap: rem(10);
  }
  &__arrow {
    cursor: pointer;
    width: rem(35);
    height: rem(35);
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    transition: .3s ease;

    & span::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: rem(8);
      color: $grey;
    }
    &:hover {
      background-color: $blue;
      border: none;
      & span::before {
        color: #fff;
      }
    }
  }
  &__arrow-prev {
    & span::before {
      transform: scale(-1);
    }
  }
}