.footer {
  &__body {
    position: relative;
    @include fit('padding-top', 89, 30, 1);
    @include fit('padding-bottom', 61, 30, 1);
    display: grid;
    grid-template: auto / minmax(auto, rem(303)) minmax(auto, rem(300)) minmax(auto, rem(301)) minmax(auto, rem(270));
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #EEEEEE;
      bottom: 0;
      left: 0;
    }
    @include tablet {
      grid-template: auto auto / 1fr 1fr;
      gap: rem(15);
    }
    @include mobile-l {
      grid-template: repeat(4, auto) / 1fr;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-row-gap: rem(30);
    max-width: rem(270);
    @include mobile-l {
      max-width: unset;
      grid-row-gap: rem(20);
    }
  }
  &__copyright {
    padding: rem(26) 0 rem(29) 0;
    text-align: center;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(18);
    color: #AAAAAA;
  }
  &__title {
    margin: rem(20) 0 rem(40) 0;
    font-weight: 500;
    font-size: rem(20);
    line-height: 150%;
    color: #000000;
    @include mobile-l {
      margin: 0 0 rem(15) 0;
    }
  }
  &__text {
    font-weight: 400;
    font-size: rem(16);
    line-height: 150%;
    color: $grey;
  }

}

.info-footer {
  &__social-list {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
  &__social-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    transition: .5s ease;
    @include pc {&:hover {background-color: $blue;& a:before {color: #fff;}}}
  }
}

.menu-footer {
  &__link {
    font-weight: 500;
    font-size: rem(14);
    line-height: 176%;
    color: $grey;
    transition: .3s ease;
    @include pc { &:hover {color: #000000;}}
  }
}

.join-footer {
  &__form {
    margin: rem(15) 0 0 0;
    height: rem(50);
    border: 1.5px solid #CCCCCC;
    border-radius: rem(7);
    display: flex;
    align-items: center;
  }
  &__form-input {
    width: 100%;
    padding: 0 rem(14);
    &::placeholder {
      font-weight: 400;
      font-size: rem(14);
      color: #AAAAAA;
    }
  }
  &__form-btn {
    background-color: transparent;
    min-width: rem(35);
    height: rem(35);
    border-radius: 50%;
    background-color: $blue;
    margin: 0 rem(7);
    font-size: rem(8);
    transition: .2s;
    @include pc { 
      &:hover { 
        font-size: rem(11);
      }
    }
  }
}
