.popular {
  &__main {
    @include fit('padding-top', 88, 50, 1);
    @include fit('padding-bottom', 100, 0, 1);
  }
  &__bottom {
    display: flex;
    justify-content: center;
    @include fit('padding-top', 50, 30, 1);
  }
}

.body-popular {
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fit('padding-top', 57, 20, 1);
    @include fit('padding-bottom', 30, 20, 1);
    @include mq(rem(900)) {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      gap: rem(20);
    }
  }
  &__items {
    display: grid;
    @include fit('grid-row-gap', 50, 20, 1);
    @include fit('grid-column-gap', 30, 20, 1);
    grid-template: auto / repeat(4, 1fr);
    @include mq(rem(1100)) {
      grid-template: auto / repeat(3, 1fr);
    }
    @include mq(rem(820)) {
      grid-template: auto / repeat(2, 1fr);
    }
    @include mq(rem(550)) {
      grid-template: auto / 1fr;
    }
  }
}

.navigation-popular {
  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(10);
  }
  &__tabs-btn {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(18);
    color: $grey;
    border: 1px solid #CCCCCC;
    border-radius: rem(5);
    padding: rem(6) rem(14);
    background-color: transparent;
    transition: .3s;
    & span {
      position: relative;
      z-index: 2;
    }

    &::before {
      position: absolute;
      z-index: 1;
      content: '';
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $blue;
      transition: .3s ease-out;
    }
    &.active {
      border: 1px solid $blue;
      color: #fff;

      &::before {
        width: 100%;
      }
    }
  }
  &__filters {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
  &__filters-btn {
    font-weight: 700;
    font-size: rem(16);
    line-height: rem(21);
    @include fit('height', 50, 40, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    @include fit('padding-left', 25, 15, 1);
    @include fit('padding-right', 25, 15, 1);

    &:last-child {
      background-color: #9757D7;
      &::after {
        background-color: #8212f3;
      }
    }
  }
}

.bottom-popular {
  &__btn {
    padding: rem(14) rem(18);
  }
}
