$container: rem(1200);
$ff: 'DMSans';
$fw: 700;
$bg: #fff;
$mc: #000;
$grey: #888888;
$green: #45B26B;
$blue: #3772FF;

html {scroll-behavior: smooth; font-size: 100%;}
body {font-family: $ff;font-weight: $fw;color: $mc; background-color: $bg;}
.app {display: flex;flex-direction: column;height: 100%;}
.main {flex: 1 1 auto;}
.container {max-width: $container;margin: 0 auto;padding: 0 rem(15);}

.ibg {width: 100%;height: 100%;object-fit: cover;}
.ibga {position: relative;& img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}}

//-----------------------------------------------------------------------

.logo {
  & > a {
    display: inline-flex;
    align-items: center;
    gap: rem(3);
  }
  &__img {
    transition: .3s ease-out;
  }
  &__label {
    font-size: rem(30);
    line-height: rem(39);
    color: #000;
  }
  @include pc { &:hover {& img {transform: rotate(15deg);}}}
}

.title {
  @include fit ('font-size', 40, 30, 1);
  @include fit ('line-height', 52, 32, 1);
  color: #000000;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(14);
  background: $blue;
  color: #fff;
  border-radius: rem(7);
  transition: .3s ease-out;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 100%;
    background: #135aff;
    opacity: 0;
    transition: .3s ease-out;
  }
  & span {
    position: relative;
    z-index: 2;
  }
  @include pc { &:hover {&::after {width: 100%; opacity: 1;}}};
}

img {
  cursor: pointer;
  transition: .3s ease-out;
  @include pc {
    &:hover {
      transform: scale(1.05);
    }
  }
}